<!DOCTYPE html>
<html>
<head>
<link rel=”stylesheet” type=”text/css” href=”/style.css” />
</head>
</html>

<h1>Battle for glory and wet food!</h1>
<h2>Enter your name to decide your furry fate</h2>
<form action="/names" method="post">
  <label for="player_1_name">
    First challenger:
  <input type="text" name="player_1_name">
  <label for="player_2_name">
    Second challenger:
  <input type="text" name="player_2_name">
  <input type="submit" name="Submit" value="*HISS*">
</form>
